<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VirtuosoSkos.SkosAndStoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VirtuosoSkos.SkosAndStoreSettings>
            <setting name="skosCore" serializeAs="String">
                <value>http://www.w3.org/2004/02/skos/core#</value>
            </setting>
            <setting name="skosLanguage" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="xmlSchema" serializeAs="String">
                <value>http://www.w3.org/2001/XMLSchema#</value>
            </setting>
            <setting name="searchPredicates" serializeAs="String">
                <value>prefLabel, altLabel, scopeNote, hiddenLabel</value>
            </setting>
        </VirtuosoSkos.SkosAndStoreSettings>
    </userSettings>
</configuration>